﻿
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div class="d-flex justify-content-center align-items-center">
    <img src="~/Public/img/page_not_found.png" />
</div>
<div class="d-flex justify-content-center align-items-center">
    <button class="btn ">
        <a href="https://localhost:44318/" class=" btn btn-buy-cont">Quay lại trang chủ </a>
    </button>
</div>
