﻿
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="d-flex justify-content-center my-5">
    <h2 class="text-success ">Thanh toán thành công !!</h2>
</div>